<div uk-lightbox="animation: slide" class="uk-grid-small uk-child-width-1-3@s uk-text-center" uk-grid="masonry: true">

	{% for post in site.posts %}
	
	
<div class="post {{ post.year }}"> 
	
     <a href="{{ site.url }}/art/img/{{ post.img }}" title="{{ post.title }}, {{ post.date | date: '%B %Y' }}" data-caption="{{ post.title }} | {{ post.date | date: '%B %Y' }} | {{ post.excerpt }}">
	     <img src="{{ site.url }}/art/img/{{ post.img }}" alt="{{ post.title }} by Liz Lorena">
	</a>	
</div>

    {% endfor %}
	
</div>
